body {
    background-image:    url(images/bg.gif) no-repeat;
    background-size: cover;                     
    background-position: center center;             
 }
 .myphoto {
   border-radius: 100%;
   display: block;
   position: fixed;
   margin: 310px 690px;
   height: 285px;
   width: 285px;
 }